{% extends '/base.html.twig' %}

{%  block content   %}

    {# --------  Photo ---------- #}

    <div class="image_home" >
        <img src="{{ asset('assets/images/Pagode_Chureito_vue_sur_le_mont_Fuji_2.jpg')}}" alt="Pagode Chureito vue sur le mont Fuji">
    </div>

    {# -------- Fin de Photo ---------- #}


    <div class="nom">
        <h1> {{ ville }} </h1>
    </div>



    <section class="tous_les_articles">

        {% for article in articles %}

            <article class="article" >

                <h2> {{ article.titre }} </h2>

                <h3> {{ article.accroche }} </h3>

                <div class="photo_article" >
                    <img src="{{ asset('assets/images')}}/{{ article.photos.nom }}" alt="photo de l'article">
                </div>

                <p> {{ article.texte }} </p>

            </article>

        {% endfor %}

    </section>

{% endblock content %}